*
!.gitignore
!README.md
!init.lua
!lazy-lock.json
!lua/
!lua/plugins/
!lua/auto.lua
!lua/keymap.lua
!lua/opt.lua
!lua/plugins/cmp.lua
!lua/plugins/colorscheme.lua
!lua/plugins/conform.lua
!lua/plugins/dap.lua
!lua/plugins/gitsigns.lua
!lua/plugins/lspconfig.lua
!lua/plugins/lualine.lua
!lua/plugins/mini.lua
!lua/plugins/neotest.lua
!lua/plugins/oil.lua
!lua/plugins/telescope.lua
!lua/plugins/treesitter.lua
!lua/plugins/which-key.lua

lua/local.lua
